/* root for storing variables fo background and text color for all different elements */

:root {
    /* color theme */
    --prussian-blue: #003049;
    --maximum-red: #D62828;
    --orange: #F77F00;
    --maximum-yellow-red: #FCBF49;
    --lemon-meringue: #EAE2B7;
    /* header */
    --header-bg: var(--prussian-blue);
    --header-color: var(--lemon-meringue);
    /* main */
    --main-bg: var(--lemon-meringue);
    --main-color: var(--prussian-blue);
    /* buttons */
    --button-bg: var(--maximum-red);
    --button-color: var(--maximum-yellow-red);
    /* footer */
    --footer-bg: var(--prussian-blue);
    --footer-color: var(--lemon-meringue);
    /* footer anchors */
    --anchor-color: var(--maximum-red);
}


/* set font for the whole document */

body {
    font-family: 'Abel', sans-serif;
    font-weight: 700;
}


/* header background and text colors */

header {
    background-color: var(--header-bg);
    color: var(--header-color);
    padding: 40px 0px;
}


/* fonts for all headings */

h1,
h2 {
    font-family: 'Lobster', cursive;
}


/* main padding and colors */

main {
    padding: 40px 0px;
    background-color: var(--main-bg);
    color: var(--main-color);
}


/* form margin set */

.form-div {
    margin: 40px auto;
}


/* set background and text colors */

button {
    background-color: var(--button-bg);
    color: var(--button-color);
}


/* set footer background and text colors */

footer {
    background-color: var(--footer-bg);
    color: var(--footer-color);
    padding: 40px 0px;
}


/* set the anchors for the linkedIn and gitHub, removed text-decoration */

.links-div-anchor {
    font-size: 36px;
    text-decoration: none !important;
    color: var(--anchor-color);
}


/* media queries mainly to ensure the footer stays at the bottom of the screen but moves when the content becomes larger than the screen */

@media only screen and (min-width: 768px) {
    /* pages container that envelopes the whole document */
    .page-container {
        position: relative;
        min-height: 100vh;
    }
    /* main bottom padding increased to allow space for the footer */
    main {
        padding-bottom: 136px;
    }
    /* footer position to stay at the bottom of the screen */
    footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        background-color: var(--footer-bg);
        color: var(--footer-color);
        padding: 40px 0px;
        height: 136px;
    }
}